<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar">
          <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
        </div>
        <form [formGroup]="userForm" >
          <div class="form-group">
            <label >Name : </label>
            <input formControlName="name" type="text" name="name" class="form-control" placeholder="name" >
          </div>
          <div class="form-group">
            <label >Login : </label>
            <input formControlName="login" type="text" name="login" class="form-control" placeholder="login" >
          </div>
          <div class="form-group">
            <label >Email : </label>
            <input formControlName="email" type="text" name="email" class="form-control" placeholder="Email" >
          </div>
          <div class="form-group">
            <label > Password : </label>
            <input formControlName="password" type="password" name="c_password" class="form-control" placeholder="********" >
          </div>
          <div class="text-center">
            <input (click)="submitUser()" type="submit" class="btn btn-my" value="Sign Up">
          </div>
          <div class="text-center login">
            Already have an account ? <a routerLink="/login">Login</a> hera.
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
