form.transaction-form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 350px;
}

mat-form-field {
  width: 100%;
}

.dialog-actions {
  justify-content: flex-end;
}
